.App {
  text-align: center;
  justify-content: center;
}

form{
  margin-top: 5%;
}

.search-bar{
  width: 30%;
  min-height: 5vh;
  font-size: medium;
  padding-left: 5px;
  border-radius: 10px;
}

.btn{
  margin-left: 15px;
  width: 10%;
  min-height: 5vh;
  border-radius: 5px;
  color: #323232;
  background-color: #fefefe;
  font-size: large;
}

ul{
  list-style-type: circle;
}